#Idea
.idea/

# CMake
cmake-build-*/

# builds
build/

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# VisualStudioCode
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# VisualStudioCode Patch
# Ignore all local history of files
.history
.ionide